*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    /* font-family:'Times New Roman', Times, serif */
    color: black;
}

.container {
    position: relative;
    text-align: center;
    /* background-color: rgb(107, 131, 169); */
}
.container img{
    opacity: 70%;
    /* aspect-ratio: 1/1; */
    /* background-color: white; */
}

.centered {
    font-size: 4vw;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: aliceblue; */
    
    
    /* background-color: rgb(127, 137, 159); */
    opacity: 100%;
    color: white;
}

.centered h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.centered h4{
    color: white;
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

/* .header{
    padding-top: 10px;
    height: 80px;
    width: 100%;
    background-color: aliceblue; */
    /* background-image: linear-gradient(#d77607, #c2074b);
    background-image: linear-gradient(to right, violet, darkred, purple);
    background-image: linear-gradient(40deg, rgb(207, 11, 11) 30%, orange); */
    /* text-align: center;
    padding: auto;

} */
.header h4{
    padding-top: 5px;
    font-weight: lighter;
    /* font-family: 'Times New Roman', Times, serif; */
}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30%;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative
}

.nav-links ul li:hover{
    /* box-shadow: 0 12px 11px rgba(181, 10, 10, 0.2); */
    box-shadow: inset 100px 0 0 0 rgb(184, 114, 0);
    color: white;
}

.nav-links ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 100%;
    font-weight: bolder;
}
.nav-links ul li a:hover{
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-weight: bolder;
}
.content{
    display: flex;
    flex-direction: relative;
    justify-content: center;
    align-items: relative;
}


.individualContent{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    justify-content: center;
    padding-top: 15px;
    margin: 4px;
    background-color:rgb(214, 235, 234);
}

.individualContent h2 {
    text-align: center;
    color: rgb(5, 69, 64);
}

.individualContent h3 {
    text-align: center;
}

.picAndText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4px;
}


.picAndText img{
    border-radius: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
/* .picAndText:hover {   
    
} */
.picAndText p{
    width: 50%;
    /* font-size: 80%; */
    text-align: center;
    margin: auto;
    font-style: italic;
}

/* .text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */


/* example  */
/* .socialpic{
    width: 300px;
    height: 200px;
    background-image: url(images/bobCool.jpeg);
    background-size: cover;
    background-position: center;
} */

.tweets{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
}
.twitterTitle h1{
    color: rgb(184, 114, 0);
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 10px;
}

.igfeed{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
    padding-top: 20px;
}
.twitter-tweet{
    width: 40%;
}

/* for ipad */
@media (max-width: 800px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    .individualContent{
        width: 90%;
    }
    .picAndText{
        flex-direction: row;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .picAndText p{
        padding: 7px;
    }

    /* .text{
        padding-left: 30px;
    } */
}

@media (max-width: 400px){
    .content{
        flex-direction: column;
    }
    .individualContent{
        width: 90%;
    }
    .picAndText{
        flex-direction: column;
    }
}

.fa {  
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.social{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.fa:hover{
    color: white;
    background-color:rgb(184, 114, 0);
    box-shadow: 5px;
}

.footer{
    background-color: rgb(5, 69, 64);
    color: white;
    padding-top:10px;
    height: 80px;
    text-align: center;
    justify-content: center;
}
.footer h2{
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}